* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
html, body {
  height: 100%;
  margin: 0; 
}
  
.icon{
  height: 22px;
  width: auto;
  filter: invert(1) brightness(2);
  margin-right: 10px;
}

.logo{
  height: 35px;
  width: auto;
  filter: invert(1) brightness(2);
  position: absolute;
  left: 13px;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
  
.header {
  grid-row: 1 / 2;
  grid-column: 2 / 6;
  background-color: white;
  box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.103);
  z-index: 2;
}
  
.sidebar-left {
  grid-row: 1 / 6;
  grid-column: 1 / 2; 
  background-color: #2563eb;
}
  
.main-content {
  grid-row: 2 / 6;
  grid-column: 2 / 5; 
  background-color: #d1d5db;
}
  
.sidebar-right {
  grid-row: 2 / 6;
  grid-column: 5 / 6;
  background-color: #d1d5db;
}

.side-card {
  width: 230px;
  background-color: white;
  border-radius: 8px;
  margin-left: 20px;
  margin-top: 62px;
  display: flex;               
  flex-direction: column;      
  justify-content: space-between; 
  padding: 16px;              
  min-height: 100px;          
  box-sizing: border-box;
}

.side-card p {
  margin-top: 5px;                  
  line-height: 1.2;
}

.sidebar-left-title {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-right: 15px;
}
  
.side-list1, .side-list2 {
  margin-top: 40px; 
  margin-left: 20px;
  color: white;
  font-size: 1.8em;
 line-height: 1.8;
}

ul{
  list-style-type: none;
}
   
button {
  z-index: 2;
  background-color: #2563eb;
  color: white;
  font-family: inherit;
  font-size: 1em;
  border-radius: 18px;
  width: 80px;
  height: 35px;
  border: solid white;
  float: right;
  margin-right: 20px;
  margin-top: 80px;
}
  
.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap:15px;  
}

.card{
  padding: 16px;
  height: 190px;
  width: 300px;
  background-color: white;
  border-radius: 8px; 
  box-shadow:  box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.103);
  justify-self: center;
  border-left: solid orange;
  margin-top: 40px;  
  z-index: 2;
}
  
.mc-title{
  text-align: center;
  margin-top: 15px;
  text-decoration: underline;
  color: #2563eb;
}

.sidebar-right-title{
  position: absolute;
  top: 210px;
  right: 80px;
  text-decoration: underline;
  color: #2563eb;
}

.sidebar-right-title2{
  position: absolute;
  top: 610px;
  right: 105px;
  text-decoration: underline;
  color: #2563eb;
}

h2{
  font-size: 18px;
  position: absolute;
  top:125px;
  left: 380px;
}

span{
  font-size: 12px;
}

input{
  width: 45%;
  height: 32px;
  border-radius: 30px;
  background-color: #d1d5db;
  border:solid white;
  margin-left: 90px;
  margin-top: 25px;
}

input:focus{
  outline: none;
}

.avatar1 {
  height: 25px;
  width: auto;
  border-radius: 100%;
}

.avatar2{
  height: 35px;
  width: auto;
  border-radius: 100%;
  position: absolute;
  left: 310px;
  top: 130px;
}

.bell{
  height:25px;
  width: auto;
}

.right-side-header{
  display: flex;
  width: 22%;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 30px;
  top: 30px; 
  gap: 22px;
}

.search{
  height: 25px;
  width: auto;
  position: absolute;
  left: 333px;
  top:30px
}
  
.flex {
  border: solid white;
  display: flex;
  gap: 16px;
  text-align: start;
  }

.move{
  margin-left: 16px;
}
    
.flex:nth-child(1){
  margin-left: 5px;
}
.pro-pic{
  height: 30px;
  width: auto;
  border-radius: 100%;
  margin: 0;
  padding: 0;
}

 .spacer{
  height: 40px;
  background-color:#d1d5db;
}
  
  